/* Home.css */

/* Home.css */

.outer {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  
  .container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: auto;
    height: auto;
  }
  
  .container h2 {
    color: tomato;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .container p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
  }
  
  .container a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .container a:hover {
    text-decoration: underline;
  }
  